<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/Estilo.css">
    <link rel="stylesheet" href="/css/crecion-y-edicion">
    <link rel="stylesheet" href="/estilos_articulo.css">
    <link rel="stylesheet" href="/css/style_login.css">
    <%- include('partials/head.ejs') %>
<body>
    <%- include('partials/header.ejs') %>

    <h2 class="titulo-de-cracion">Creación de Productos</h2>

    <div style="color: red;" class="errores">
        <ul></ul>
    </div>
    
    <form action="/products/create-products" method="POST" enctype="multipart/form-data">
        <div class="creacion-de-productos">
            <label for="name" class="seccion-de-creacion">Nombre:</label>
            <input type="text" name="name" id="name" class="input-de-creacion"
            value="<%= locals.oldData ? oldData.name : null %>">
            <% if(locals.errors && errors.name) { %>
                <div class="errors-form" >
                    <%= errors.name.msg %>
                </div>
            <% } %>

            <label for="description" class="seccion-de-creacion">Descripción:</label>
            <input type="text" name="description" id="description" class="input-de-creacion"
            value="<%= locals.oldData ? oldData.description : null %>">
            <% if(locals.errors && errors.description) { %>
                <div class="errors-form" >
                    <%= errors.description.msg %>
                </div>
            <% } %>

            <label for="productImage" class="seccion-de-creacion">Imagen del Producto:</label>
            <input type="file" name="productImage" id="productImage" class="seccion-de-creacion"
            value="<%= locals.oldData ? oldData.productImage : null %>">
            <% if(locals.errors && errors.productImage) { %>
                <div class="errors-form" >
                    <%= errors.productImage.msg %>
                </div>
            <% } %>

            <label for="category_id" class="titulo-de-categoria">Categoria:</label>
            <p class="seccion-de-creacion" >
                <select name="category_id" id="">
                    <option value="<%= locals.oldData ? oldData.category_id : null %>" disabled selected> seleccione una categoria </option>
                    <% allCategorys.forEach(category => { %>
                    <option value="<%= category.id %>"> <%= category.name %> </option>
                    <% }); %>
                </select>
            </p>
            <% if(locals.errors && errors.category_id) { %>
                <div class="errors-form" >
                    <%= errors.category_id.msg %>
                </div>
            <% } %>

            <label for="price" class="seccion-de-creacion">Precio:</label>
            <input type="number" name="price" id="price" class="input-de-creacion"
            value="<%= locals.oldData ? oldData.price : null %>">
            <% if(locals.errors && errors.price) { %>
                <div class="errors-form" >
                    <%= errors.price.msg %>
                </div>
            <% } %>

            <button type="submit" class="boton-de-creacion">Crear</button>
        </div>
    </form>

    <script src="/js/creacion-producto.js"></script>

    <%- include('partials/footer.ejs') %>

</body>
</html>