<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/Estilo.css">
<link rel="stylesheet" href="/css/styles.css">
<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/header.ejs') %>
        <main>
            <div><b>
                <p class="tipografia">Tenemos tus vinos favoritos</p>
            </b></div>
            <div class="seccion">
            <% for(let products of allProducts) { %>
                <a href="/products/detail/<%= products.id %>">
                    <article class="almacen">
                        <img src="/images/<%= products.img %>" class="img" alt="Blanco">
                        <div class="caja">
                            <div class="car">
                            <i class="fas fa-wine-bottle"></i>
                            </div>
                            <p class="precio">
                                $<%= products.price %>
                            </p>
                            <p class="des"> 40% OFF</p>
                        </div>
                        <figcaption class="desc">
                            <%= products.name %>
                        </figcaption>
                    </article>
                </a>
                <% } %>
            </div>
            <br>
            <br>
            <div><b>
                <p class="tipografia">Tenemos los mejores precios</p>
            </b></div>
            <div class="seccion">
            <% for(let products of allProducts) { %>
                <a href="/products/detail/<%= products.id %>">
                    <article class="almacen">
                        <img src="/images/<%= products.img %>" class="img" alt="Blanco">
                        <div class="caja">
                            <div class="car">
                            <i class="fas fa-wine-bottle"></i>
                            </div>
                            <p class="precio">
                                $<%= products.price %>
                            </p>
                            <p class="des"> 40% OFF</p>
                        </div>
                        <figcaption class="desc">
                            <%= products.name %>
                        </figcaption>
                    </article>
                </a>
                <% } %>
            </div>
            <br>
            <br>
            </main>
            <br>
            <br>
            <br>
            <%- include('partials/footer.ejs') %>
    </body>

</html>