<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/EstilosCarro.css">
<link rel="stylesheet" href="/css/style_login.css">
<%- include('partials/head.ejs') %>

<body>
    <%- include('partials/header.ejs') %>

        <section>
            <div class="section-micuenta">
                <h1 class="micuenta">MI CUENTA</h1>
                <div><i style="padding-right: 2px;" class="fas fa-home"></i>Inicio / Mi Cuenta</div>
            </div>
            <br>
            <br>
            <br>
            <div class="formu-login">

                <div class="subtitulo">

                    <i class="fas fa-sign-in-alt acceder-icono"></i>
                    <h2>REGISTRARSE</h2>

                </div>

                <div style="color: red;" class="errores">
                    <ul></ul>
                </div>

                <form method="POST" action="/users/register" enctype="multipart/form-data">
                    <div class="forma">
                        <label for="first_name">Nombre de usuario:</label>
                        <br>
                        <br>
                
                        <input type="text" name="first_name" id="first_name" placeholder="  Nombre"
                            value="<%= locals.oldData ? oldData.first_name : null %>">
                        <% if(locals.errors && errors.first_name) { %>
                            <div class="errors-form" >
                                <br>
                                <%= errors.first_name.msg %>
                            </div>
                        <% } %>
                        <br>
                        <br>
            
                        <label for="last_name">Apellido de usuario:</label>
                        <br>
                        <br>
                        <input type="text" name="last_name" id="last_name" placeholder="  Apellido"
                            value="<%= locals.oldData ? oldData.last_name : null %>">
                        <% if(locals.errors && errors.last_name) { %>
                            <div class="errors-form" >
                                <br>
                                <%= errors.last_name.msg %>
                            </div>
                        <% } %>
                        <br>
                        <br>
                        
                        <label for="email">Email del usuario:</label>
                        <br>
                        <br>
                        <input type="text" name="email" id="email" placeholder=" Email"
                            value="<%= locals.oldData ? oldData.email : null %>">
                        <% if(locals.errors && errors.email) { %>
                            <div class="errors-form" >
                                <br>
                                <%= errors.email.msg %>
                            </div>
                        <% } %>
                        <br>
                        <br>
                        <br>
                        <label for="password">Creá una contraseña</label>
                        <br>
                        <br>
                        <input type="password" name="password" id="password" placeholder=" ******">
                        <% if(locals.errors && errors.password) { %>
                            <div class="errors-form" >
                                <br>
                                <%= errors.password.msg %>
                            </div>
                        <% } %>
                        <br>
                        <br>
                        <br>
                        <label for="userAvatar">Agregá una foto de usuario:</label>
                        <br>
                        <br>
                        <input type="file" name="userAvatar" multiple id="userAvatar">
                        <br>
                        <br>
                        <br>

                        <form method="post" action="/users/register">
                            <button type="submit">Enviar</button>
                        </form>
                        <button type="reset">Borrar</button>
                    </div>
                </form>

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

            </div>

            <div class="texto-derecha">

                <h1>Registrarse</h1>
                <br>

                <p>Registrarse en este sitio le permite acceder al estado e historial de sus pedidos.
                    Simplemente complete los campos a continuación y obtendremos una nueva cuenta configurada para
                    usted en poco tiempo.
                    Solo le pediremos la información necesaria para que el proceso de compra sea rápido y fácil.
                </p>
                <br>

                <a href="/users/register"><button>REGISTRARSE</button></a>

            </div>
            <script src="/js/login.js"></script>
        </section>

        <%- include('partials/footer.ejs') %>
        
        <script src="/js/register.js"></script>
</body>

</html>