<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/style_login.css">
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/registro.css">
<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/header.ejs') %>

            <section>
                <div class="section-micuenta">
                    <h1 class="micuenta">MI CUENTA</h1>
                    <div><i style="padding-right: 2px;" class="fas fa-home"></i>Inicio / Mi Cuenta</div>
                </div>

                <div>
                    <div style=" display: flex; justify-content: center; padding: 10px;">
                        <img src="/images/usersAvatars/<%= user.img ? user.img : 'default_user.jpg' %>">
                    </div>

                    <div style=" color: white; text-align: center; background-color: darkred; margin: 0px 20%;" >
                        <h3>Hola <%= user.first_name + " " + user.last_name%></h3>
                        <h3>Corre: <%= user.email %></h3>
                    </div>
                </div>
                    







                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

                    </div>

                    <div class="texto-derecha">

                        <h1>Registrarse</h1>
                        <br>

                        <p>Registrarse en este sitio le permite acceder al estado e historial de sus pedidos.
                            Simplemente complete los campos a continuaci칩n y obtendremos una nueva cuenta configurada
                            para usted en poco tiempo.
                            Solo le pediremos la informaci칩n necesaria para que el proceso de compra sea r치pido y f치cil.
                        </p>
                        <br>

                        <a href="/register"><button>REGISTRARSE</button></a>

                    </div>
            </section>

            <%- include('partials/footer.ejs') %>


    </body>

</html>